   a:hover {
    text-decoration: none;
    color : grey;
   }


    .myImg {
    float:left;
    width:320px;
    height:320px;
    padding: 0px, 20px, 20px, 0px;
    }

    .ava{
     width:60px;
     height:60px;
    }

    .myLogo{
         width:50px;
         height:50px;
        }